  <% @game.last_five.each do |speech|%>
     <% if @game.left  == speech.user_id %>
      <%  cls = "left uleft" %>
      <%  img = @game.left_user.image %> 
      <%  left = true %>
    <% else %> 
      <% cls ="right uright" %> 
      <% img = @game.right_user.image %> 
      <% left = false %> 
    <% end %>
    <% if left == false %> 
          <table class="spp"><tr>
	  <td class="rightspeech">
	  <%= tag("div",{ id: "rb#{speech.rb}", class: "triangle-right #{cls}"},true) %>
            <%= speech.speech %>
	  
            </div>
          </td>
          <td>  
            <div>
	    <%= tag("image",{id: "imgrb#{speech.rb}", src: img , class: "img#{cls}"}) %>               </div>
	  </td>
	  </tr></table>
    <% end %> 

    <% if left == true %> 
      <table class="spp"><tr>
        <td class="leftimage">
      <%= tag("image",{id: "imgrb#{speech.rb}", src: img , class: "img#{cls}" }) %>
       </td> 
       <td>
	  <%= tag("p",{ id: "rb#{speech.rb}", class: "triangle-right #{cls}"},true) %>
            <%= speech.speech %>
          </p>
        <td></tr></table>
    <% end %> 
  <% end %>

