<!DOCTYPE html>
<html>
<head>
  <title>Prozivka</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %> 
    <%= content_tag( "div",id: "maindata" , data: {  userid: current_user.id }) do %>
    <%end%>
  <% end %>
  <% if @game != nil %>
    <%= content_tag( "div",id: "gamedata" , data: {  gameid: @game.id , onmove: @game.onmove }) do %>
    <%end%>
  <%end%>
  <div class = "container"> 
    <% if @show_login %> 
      <div class = "row" id="clogin"> 
        <%= yield :login  %>
      </div>
    <% end %> 
    
    <% if @show_title   %> 
      <div class = "row jumbotron" id="ctitle"> 
	 <%= yield :title %>
      </div> 
    <% end %>
    <% if @show_gametitle   %> 
      <div class = "row" id="gametitle">
	 <%= yield :gametitle %>
      </div> 
    <% end %>
    <div class = "row lll" id="main">
      <%= yield :main %>
    </div>
  </div>
</body>
</html>
